pymupdf
rank-bm25
google-genai
google-generativeai
transformers
accelerate
sentencepiece
pytesseract
pillow
torch
pandas
numpy
faiss-cpu
llama-index
llama-index-embeddings-huggingface
gradio
easyocr
paddleocr
